$body-background-color: $white-smoke
$body-text-color: $heavy-metal
$heading-font-size-decrement: .25
$heading-font-size-largest: 2rem

html
  font-size: 62.5%

body
  background: $body-background-color
  color: $body-text-color
  font-family: "Lato", Sans-Serif
  font-size: 1.6rem

b
  font-weight: bold

+heading-font-sizes($heading-font-size-largest, $heading-font-size-decrement)

i
  font-style: italic

p
  margin-bottom: 12px