=absolute-position($t: auto, $r: auto, $b: auto, $l: auto)
  position: absolute

  @if $t
    top: $t
  @if $r
    right: $r
  @if $b
    bottom: $b
  @if $l
    left: $l

=appearance
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none

=basic-dimensions($height, $width)
  height: $height
  width: $width

=circle($diameter)
  +basic-dimensions($diameter, $diameter)
  border-radius: 50%

=dimension-helpers($dimension, $increments)
  @each $number in $increments
    .#{get-first-char($dimension)}#{$number * 100}
      #{$dimension}: percentage($number) !important

=heading-font-sizes($font-size, $decrement)
  @for $i from 1 through 6
    h#{$i}
      font-size: $font-size

    $font-size: $font-size - $decrement

=reset-helpers($property)
  .#{get-first-char($property)}0
    #{$property}: 0 !important

  @each $position in top, right, bottom, left, x, y
    .#{get-first-char($property)}#{get-first-char($position)}0
      @if $position == x
        #{$property}-right: 0 !important
        #{$property}-left: 0 !important
      @else if $position == y
        #{$property}-top: 0 !important
        #{$property}-bottom: 0 !important
      @else
        #{$property}-#{$position}: 0 !important

=transform($functions)
  -webkit-transform: $functions
  transform: $functions

=transition($properties)
  -webkit-transition: $properties
  -o-transition: $properties
  transition: $properties