$bar-background-color: $silver
$bar-border: 1px solid $heavy-metal

.bar
  background: $bar-background-color
  border-top: $bar-border
  display: inline-block

  &.bar-full
    display: block

  &.bar-header
    padding: 24px

  &.bar-heading
    padding: 12px 20px