$button-font-size-small: .8rem

.button
  cursor: pointer
  display: inline-block
  text-align: center

.button-primary
  +circle(32px)
  border: 1px solid $silver
  color: $white
  font-size: 2.4rem
  font-weight: 100
  margin-right: 15px
  position: relative

  &::after
    +absolute-position($b: -15px)
    color: $heavy-metal
    font-size: $button-font-size-small
    font-weight: normal

  @at-root
    .button-add
      background: $dark-gray

      &::after
        content: "Add"
        left: 0
        width: 100%

      span
        +absolute-position($t: -1px, $r: 0)
        +basic-dimensions(100%, 100%)

    .button-generate
      background: $heavy-metal

      &::after
        content: "Generate"
        left: 50%
        margin-left: -20px
        width: 40px

    .button-remove
      +absolute-position($b: -12px, $l: 50%)
      color: $heavy-metal // to overwrite user agent stylesheet
      font-size: $button-font-size-small
      margin-left: -18px
      width: 36px

.button-text-only
  background: transparent
  border: 0
  padding: 0