$toggle-switch-background-color-dark: $heavy-metal
$toggle-switch-background-color-light: $white
$toggle-switch-border-dark: 1px solid $heavy-metal
$toggle-switch-border-light: 1px solid $white
$toggle-switch-diameter: 15px
$toggle-switch-difference: 2
$toggle-switch-height: 2px
$toggle-switch-width: 40px
$toggle-switch-position-left-off: 2px
$toggle-switch-position-left-on: 25px

%pseudo-toggle-switch
  +absolute-position($t: 50%)
  +transform(translateY(-50%))
  +transition(all .2s ease)
  content: ""

.color
  +absolute-position($t: -5px, $r: -5px)
  +basic-dimensions(40px, 40px)
  border: none
  cursor: pointer
  padding: 0

.toggle-switch
  +appearance
  +basic-dimensions($toggle-switch-height, $toggle-switch-width)
  background: $toggle-switch-background-color-dark
  border-radius: $toggle-switch-height / 2
  cursor: pointer
  outline: none
  position: relative

  &::before
    @extend %pseudo-toggle-switch
    +circle($toggle-switch-diameter)
    background: $toggle-switch-background-color-light
    border: $toggle-switch-border-dark
    left: $toggle-switch-position-left-off - $toggle-switch-difference

  &::after
    @extend %pseudo-toggle-switch
    +circle($toggle-switch-diameter - $toggle-switch-difference)
    background: $toggle-switch-background-color-dark
    left: $toggle-switch-position-left-off

  &:checked
    background: $toggle-switch-background-color-light

    &::before
      background: $toggle-switch-background-color-dark
      border: $toggle-switch-border-light
      left: $toggle-switch-position-left-on - $toggle-switch-difference

    &::after
      background: $toggle-switch-background-color-light
      left: $toggle-switch-position-left-on