<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      <%= htmlWebpackPlugin.options.title %>
    </title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300" rel="stylesheet">
    <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
  </head>
  <body>
    <header class="bar bar-full bar-header">
      <h1>
        <b>Combinatorics Machine</b>
      </h1>
    </header>

    <div class="pane">
      <p class="card">
        Select the colours you want to use; then, click on
        the <i>Generate</i> button to generate all of the
        combinations and permutations of those colours.
      </p>
      <div class="dashboard">
        <div class="palette">
          <div class="dot-control">
            <div class="dot">
              <!-- FIXME in Safari, please. -->
              <input
                class="color"
                type="color"
                value="#dddddd"
              />
            </div>
          </div>
        </div>
        <!-- TODO: Revisit. In FF, content positioned outside of button is unclickable. -->
        <button
          aria-label="Add Dot"
          class="button button-primary button-add"
          id="button-add"
          type="button">
          <span>
            &#043;
          </span>
        </button>
        <button
          aria-label="Generate Combinations and Permutations"
          class="button button-primary button-generate"
          id="button-generate"
          type="button">
          <span class="ion-ios-calculator-outline"></span>
        </button>
      </div>
    </div>

    <section class="pane">
      <h2 class="bar bar-heading">
        Combinations and Permutations
      </h2>
      <div class="container-svg bx0">
        <!-- FIXME, please! I’m user-unfriendly. -->
        <label class="container-toggle-switch">
          <input
            class="toggle-switch"
            id="toggle-switch"
            type="checkbox"
          />
        </label>
      </div>
    </section>

    <script id="dot-control-template" type="text/html">
      <div class="dot">
        <input
          class="color"
          type="color"
          value="#dddddd"
        />
      </div>
      <button
        aria-label="Remove Dot"
        class="button button-text-only button-remove"
        type="button">
        Remove
      </button>
    </script>

    <script id="svg-template" type="text/html">
      <svg
        class="paper"
        viewBox="0 0 1000 30"
        xmlns="http://www.w3.org/2000/svg">
      </svg>
    </script>
  </body>
</html>
