$dot-border: 1px solid $silver

.dot-control
  display: inline-block
  margin-right: 15px
  position: relative

.dot
  +circle(30px)
  border: $dot-border
  display: inline-block
  overflow: hidden
  position: relative

.container-toggle-switch
  +absolute-position($t: 9px, $r: 9px)
  cursor: pointer